*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  display: inline-block;
  margin-top: 30px;
  position: absolute;
  left: 84%
}

nav ul li{
  display: inline-block;
  list-style: none;
}

li a{
  text-decoration: none;
  margin-left: 30px;
  padding: 8px 10px;
  border: 1px solid black;
  border-radius: 100%;
}
